<!-- templates/plugin.html -->
<html>
  <head>
    <title>Plugin Test</title>
    <style>
      body {
        font-family: font-family: 'SUSE Mono', monospace;
        margin: 2rem;
        background: #fafafa;
      }
      .weather-dashboard {
        border: 1px solid #ccc;
        padding: 1rem;
      }
      {{ tailwind_css | safe }}
    </style>
    {{ font_awesome.load_css() }}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=SUSE+Mono:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet">
  </head>
  <body>
    {% block content %}{% endblock %}
  </body>
</html>
